<section>
	<div class="text-center">
		<h1 class="text-5xl text-amber-800 font-bold mb-4">
			voy a deployar mi sitio web
		</h1>
		<p class="text-3xl  text-gray-700">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore deleniti non eius perspiciatis obcaecati laborum aut quia. Reiciendis error exercitationem rem laboriosam dignissimos, minima dolorum dolor, quibusdam delectus, laborum corporis?</p>
	</div>
</section>